img{
    margin: 20px 30px 0 30px;
}

footer{
    background-color: #030303;
    padding: 20px;
    display: block;
    margin-top: 20px;

    p  {
        color: #FFFFFF;
        margin: 20px;
        text-align: center;
    }
}