
<div class="text-center">

    <img src="assets/img/pami.png" height="60px" alt="">
    <img src="assets/img/unicen.png" height="50px" alt="">
</div>
<footer>
    <p>
        ©2020 Red de Voluntariado Covid-19 UNICEN
    </p>
</footer>