
<h2>Asignaciones</h2>

<div class="row">
    <div class="col-md-12" >
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="thead-light">
                <tr>
                    <th colspan="3" class="text-center separador"><img src="assets/img/pami.png" height="60px" alt=""></th>
                
                    <th colspan="4" class="text-center"><img src="assets/img/unicen.png" height="60px" alt=""></th>
                </tr>
              <tr>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th class="separador" scope="col">Celular</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th scope="col">Celular</th>
                <th scope="col">Contención</th>
               
              </tr>
            </thead>
            <tbody>                
                  <tr *ngFor="let item of mayores">
                    <td>{{item.apellido}}</td>                      
                    <td>{{item.nombre}}</td>
                    <td class="separador">{{item.celular}}</td>
                    <td>
                        <p *ngFor="let aso of item.asociado">{{aso.apellido}}</p>
                    </td>
                    <td>
                        <p *ngFor="let aso of item.asociado">{{aso.nombre}}</p>                        
                    </td>
                    <td>
                        <p *ngFor="let aso of item.asociado">{{aso.celular}}</p>                        
                    </td>
                    <td>
                      <p *ngFor="let aso of item.asociado">{{aso.contencion}}</p>
                    </td>
                  </tr>
            </tbody>
          </table>
    </div>
</div>

