<form #signupForm="ngForm" ngNativeValidate (ngSubmit)="onSubmit(signupForm)">

    <div class="row">
      <div class="panel panel-default col-md-12">
        <div class="panel-header">
          <h1>Beneficiario: {{beneficiario.apellido}}, {{beneficiario.nombre}} </h1>          
        </div>
    
        <div class="panel-body">
  

            <div class="form-row">
              
              <div class="col-md-6">

                <div class="form-group">
                  <input type="text" class="form-control"  name="apellido" [(ngModel)]="beneficiario.apellido" required placeholder="Apellido">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control"  name="nombre" [(ngModel)]="beneficiario.nombre" required placeholder="Nombre">
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="beneficiario.direccion" (focusout)="buscarDireccion($event)"  name="direccion" ngModel required placeholder="Direccíon (Calle y número)">
                </div>

                <div class="form-group">
                  <select class="form-control" name="ciudad" [(ngModel)]="beneficiario.ciudad" (focusout)="buscarDireccion($event)" ngModel required >
                    <option value="Tandil">Tandil</option>
                    <option value="Olavarría">Olavarría</option>
                    <option value="Azul">Azul</option>
                  </select>
                </div>

                <div class="form-group">
                  <input type="number" class="form-control"  [(ngModel)]="beneficiario.celular"  name="celular" ngModel required placeholder="Celular (Codigo y número. Sin espacios ni otros caracteres)">    
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="map-container">
                  <div class="map-frame">
                    <div id="map"></div>   
                  </div>
                </div>
              </div>

            </div>
    


            <div class="form-row">
              <div class="form-group col-md-12 col-12">
                <textarea class="form-control" rows="4"  [(ngModel)]="beneficiario.observaciones"  name="observaciones" ngModel required placeholder="Observaciones"></textarea>
              </div>
            </div>

             


<div class="alert alert-info"  *ngIf=" voluntarios.length == 0 ">
  <i class="fa fa-user-plus"></i> Aun no hay voluntarios asignados a este beneficiario
</div>

<div class="row" *ngIf=" voluntarios.length > 0 " >
  <div class="col-md-12" >
      <table class="table table-striped table-bordered table-hover table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Apellido</th>
              <th scope="col">Nombre</th>
              <th scope="col">Cel</th>
              <th scope="col">Dirección</th>
              <th scope="col">Ciudad</th>
              <th scope="col">Email</th>
              <th scope="col"><i class="fa fa-trash"></i></th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of voluntarios let i = index">
                  <td>{{item.apellido}}</td>                      
                  <td>{{item.nombre}}</td>
                  <td>{{item.celular}}</td>
                  <td>{{item.direccion}}</td>
                  <td>{{item.ciudad}}</td>
                  <td>{{item.email}}</td>
                  <td><button class="btn btn-danger btn-sm" (click)="deleteVoluntario(item)" ><i class="fa fa-trash"></i></button></td>                      
              </tr>
          </tbody>
        </table>
  </div>
</div>
    
    
        
          
          <br><br>

         </div>
         <div class="panel-footer text-right panel-info">
          <button class="btn btn-primary" type="submit">Guardar cambios</button>
        </div>
      
        </div>
    </div> 
    </form>  