


<h1> 
    Asignar voluntario 
</h1>

<ul class="list-group">
    <li class="list-group-item">Nombre: <b>{{beneficiario.nombre}}, {{beneficiario.nombre}}</b></li>
    <li class="list-group-item">Dirección: <b>{{beneficiario.direccion}}, {{beneficiario.ciudad}}</b></li>
    <li class="list-group-item">Observación: <b>{{beneficiario.observaciones}}</b></li>    
</ul>


    <ng-container *ngIf="loaded" >  
<distancias-mayores (voluntario)="onSelectVoluntario($event)" [ciudad]=beneficiario.ciudad [latitude]=beneficiario.latitude [longitude]=beneficiario.longitude ></distancias-mayores>
    </ng-container>

    <button class="btn btn-primary" (click)="onSubmit()" >Guardar asignación</button>