<form #signupForm="ngForm" ngNativeValidate (ngSubmit)="onSubmit(signupForm)">
    <div class="row">
        <div class="col-md-12 text-center">
            <img class="mb-4" src="https://voluntariadocovid.unicen.edu.ar/wp-content/uploads/2020/04/cropped-VolUNICEN-Logo.png">
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="form-row">
                <h1 class="h3 mb-3 font-weight-normal">Ingresar</h1>
                <div class="form-group col-md-12 col-12">
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" id="inputEmail" class="form-control" name="email" ngModel required  placeholder="Email address" autofocus>
                </div>
                <div class="form-group col-md-12 col-12">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" name="password" ngModel required  placeholder="Password" >
                </div>
                <div class="form-group col-md-12 col-12">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
                </div>
        </div>
        </div>
    </div>
</form>