

<div class="row">
    <div class="col-md-12" >
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th scope="col">Celular</th>
                <th scope="col">Dirección</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Observaciones</th>
                <th scope="col"><i class="fa fa-user-plus"></i></th>
                <th scope="col"><i class="fa fa-edit"></i></th>
                <th scope="col"><i class="fa fa-trash"></i></th>
              </tr>
            </thead>
            <tbody>                
                  <tr *ngFor="let item of mayores let i = index" [ngClass]=" tiene(item) > 0 ? 'table-success' : ''  ">
                    <td>{{i+1}}</td>                      
                    <td>{{item.apellido}}</td>                      
                    <td>{{item.nombre}}</td>
                    <td>{{item.celular}}</td>
                    <td>{{item.direccion}}</td>
                    <td>{{item.ciudad}}</td>
                    <td>{{item.observaciones}}</td>                    
                    <td><a [routerLink]="['/asignaciones',item.id]" class="btn btn-success btn-sm"><i class="fa fa-user-plus"></i></a></td>                      
                    <td><a [routerLink]="['/editmayores',item.id]" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a></td>                      
                    <td><button class="btn btn-danger btn-sm" (click)="deleteMayor(item)" ><i class="fa fa-trash"></i></button></td>                      
                  </tr>
            </tbody>
          </table>
    </div>
</div>

