.map-container {
    height: 80vh;
    width: 100%;
    margin-bottom: 10px;

  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
    width: 100%;
  }
  
  #map {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  