<form #signupForm="ngForm" ngNativeValidate (ngSubmit)="onSubmit(signupForm)">

<div class="row">
  <div class="panel panel-default col-md-12">
    <div class="panel-header">
      <h1>UNICEN X PAMI</h1>
      <p>
        Lanzamos la nueva red colaborativa en conjunto PAMI y UNICEN, 
        en la que podés ayudar y cuidar a quienes más lo necesitan en este momento: los adultos mayores.
      </p>
    </div>

    <div class="panel-body">


  
        <div class="form-row">
          
          <div class="form-group col-md-6 col-12">
            <input type="text" class="form-control"  name="nombre" ngModel required placeholder="Nombre">            
          </div>

          <div class="form-group col-md-6 col-12">
            <input type="text" class="form-control" name="apellido" ngModel required  placeholder="Apellido">
          </div>

        </div>

        <div class="form-row">

          <div class="form-group col-md-6 col-12">
            <input type="number" class="form-control" name="celular" ngModel required  placeholder="Celular (Codigo y número. Sin 0 ni 15)">
          </div>

          <div class="form-group col-md-6 col-12">
            <input type="email" class="form-control" name="email" ngModel required  placeholder="Email">
          </div>

        </div>

        <div class="form-row">

          <div class="form-group col-md-6 col-12">
            <input type="text" class="form-control" (focusout)="buscarDireccion($event)"  name="direccion" ngModel required placeholder="Direccíon (Calle y número)">
          </div>         


          <div class="form-group col-md-6 col-12">
            <select class="form-control" name="ciudad" ngModel required  (focusout)="buscarDireccion($event)">
              <option value="" selected="selected">Ciudad</option>
              <option value="Tandil">Tandil</option>
              <option value="Olavarría">Olavarría</option>
              <option value="Azul">Azul</option>
            </select>

          </div>

     
        </div>
        <div class="form-row">

          <div class="form-group col-md-6 col-12">
            <select class="form-control" name="contencion" ngModel required>
              <option value="" selected="selected">¿Cómo puedo ayudar?</option>
              <option value="Social">Contención Social</option>
              <option value="Sanitaria">Contención Sanitaria</option>              
            </select>
          </div>

        </div>

      <label for="">Seleccionar dirección donde vive en el mapa</label>
      <div class="map-container">
        <div class="map-frame">
          <div id="map"></div>   
        </div>
      </div>
    
      <div class="text-muted">
        <p>
        En caso de poder brindar colaboración logística, declaro no haber viajado al exterior, ni haber tenido contacto con gente que pueda haber sido afectada por el COVID-19 (Coronavirus), ni haber presentado ningún síntoma asociado a la enfermedad en los últimos 14 días (fiebre, tos, mucosidad, dificultad para respirar), ni ser mayor de 60 años, ni estar embarazada, ni formar parte del grupo de riesgo definido por el Ministerio de Salud de la Nación y según lo indica la Decisión Administrativa Nacional N° 390/2020.
      </p>
      </div>

      

     </div>
     <div class="panel-footer text-right">
      <button class="btn btn-primary" type="submit">Enviar</button>
    </div>
  
    </div>
</div> 
</form>  


<div *ngIf="submited"  class="alert alert-success"> 
  <p>Muchas gracias por colaborar ingresando sus datos. Nos estaremos comunicando cuando le asignemos una persona para su acompañamiento.</p>
</div>
  
  
