.map-container {
    height: 50vw;
    width: 100%;

  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
    width: 100%;
  }
  
  #map {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  