<form #signupForm="ngForm" ngNativeValidate (ngSubmit)="onSubmit(signupForm)">

    <div class="row">
      <div class="panel panel-default col-md-12">
        <div class="panel-header">
          <h1>Voluntario: {{voluntario.nombre}} {{voluntario.apellido}} </h1>
          
        </div>
    
        <div class="panel-body">
    
    
      
            <div class="form-row">
              
              <div class="form-group col-md-6 col-12">
                <input type="text" class="form-control"  name="nombre" [(ngModel)]="voluntario.nombre"  required placeholder="Nombre">            
              </div>
    
              <div class="form-group col-md-6 col-12">
                <input type="text" class="form-control" name="apellido" [(ngModel)]="voluntario.apellido"  required   placeholder="Apellido">
              </div>
    
            </div>
    
            <div class="form-row">
    
              <div class="form-group col-md-6 col-12">
                <input type="number" class="form-control" name="celular" [(ngModel)]="voluntario.celular"  required  placeholder="Celular (Codigo y número. Sin espacios ni otros caracteres)">
              </div>
    
              <div class="form-group col-md-6 col-12">
                <input type="email" class="form-control" name="email" [(ngModel)]="voluntario.email"  required  placeholder="Email">
              </div>
    
            </div>
    
            <div class="form-row">
              
    
                <div class="form-group col-md-6 col-12">
                  <input type="text" class="form-control" (focusout)="buscarDireccion($event)"  name="direccion" [(ngModel)]="voluntario.direccion"  required placeholder="Direccíon (Calle y número)">
                </div>
                <div class="form-group col-md-6 col-12">

                <select class="form-control" name="ciudad" [(ngModel)]="voluntario.ciudad"  required  (focusout)="buscarDireccion($event)">
                  <option value="Tandil">Tandil</option>
                  <option value="Olavarría">Olavarría</option>
                  <option value="Azul">Azul</option>
                </select>
    
              </div>
              
         
            </div>

            <div class="form-row">

              <div class="form-group col-md-6 col-12">
                <select class="form-control" name="contencion" [(ngModel)]="voluntario.contencion" required>
                  <option value="Social">Contención Social</option>
                  <option value="Sanitaria">Contención Sanitaria</option>              
                </select>
              </div>
    
            </div>
    
    
          <label for="">Seleccionar dirección donde vive en el mapa</label>
          <div class="map-container">
            <div class="map-frame">
              <div id="map"></div>   
            </div>
          </div>
        
       
    
          
    
         </div>
         <div class="panel-footer text-right">
          <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
      
        </div>
    </div> 
    </form>  
      
    