<p>Seleccione un voluntario para asignar</p>
<div class="row">
    <div class="col-md-12" >
        <table class=" tableFixHead table table-striped table-bordered table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col"></th>
                <th scope="col">Apellido y Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">Contención</th>
                <th scope="col">Distancia</th>
              </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let item of voluntarios">
                    <td><input type="radio" name="exampleRadios"  (click)=selected(item)></td>                        
                    <td>{{item.apellido}}, {{item.nombre}}</td>
                    
                      <td>{{item.direccion}}, {{item.ciudad}}</td>
                      <td>{{item.contencion}}</td>
                      <td>{{item.distancia}}m</td>
                  </tr>
            </tbody>
          </table>
    </div>
</div>

