

<div class="row">
    <div class="col-md-12" >
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cel</th>
                <th scope="col">Dirección</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Email</th>
                <th scope="col">Cotención</th>
                <th scope="col"><i class="fa fa-pencil"></i></th>
                <th scope="col"><i class="fa fa-trash"></i></th>
              </tr>
            </thead>
            <tbody>
                
                  <tr *ngFor="let item of voluntarios let i = index">
                      <td>{{i+1}}</td>
                      <td>{{item.apellido}}</td>                      
                      <td>{{item.nombre}}</td>
                      <td>{{item.celular}}</td>
                      <td>{{item.direccion}}</td>
                      <td>{{item.ciudad}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.contencion}}</td>
                      <td><a [routerLink]="['/editvoluntario',item.id]"  class="btn btn-warning btn-sm" ><i class="fa fa-pencil"></i></a></td>
                      <td><button class="btn btn-danger btn-sm" (click)="deleteVoluntario(item)" ><i class="fa fa-trash"></i></button></td>                      
                  </tr>
            </tbody>
          </table>
    </div>
</div>

