<div class="abc" >
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://voluntariadocovid.unicen.edu.ar/wp-content/uploads/2020/04/cropped-VolUNICEN-Logo.png" width="140" alt="">
    </a>
    <button class="navbar-toggler" (click)="clickEventMenu()" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="statusMenu ? 'show' : ''"  id="navbarNavAltMarkup">
      <div class="navbar-nav text-right">
        <a class="nav-item nav-link active" href="./">Inicio</a>
        <a class="nav-item nav-link active" *ngIf="!loggedIn()" href="./login">Login</a>
        <a class="nav-item nav-link active" *ngIf="loggedIn()" href="./mapa">Mapa</a>
        <a class="nav-item nav-link active" *ngIf="loggedIn()" href="./altabeneficiario">Alta Beneficiario</a>
        
        <a class="nav-item nav-link active" *ngIf="loggedIn()" href="./listadovoluntarios">Voluntarios</a>
        <a class="nav-item nav-link active" *ngIf="loggedIn()" href="./listadobeneficiarios">Beneficiarios</a>
        <a class="nav-item nav-link active" *ngIf="loggedIn()" href="./asignados">Asignados</a>
        <a class="nav-item nav-link active" *ngIf="loggedIn()" (click)="logout()" href="./login"  >Salir</a>

        <!--<a class="nav-item nav-link" href="https://voluntariadocovid.unicen.edu.ar/">voluntariadocovid.unicen.edu.ar</a>-->
      </div>
    </div>
  </nav>
</div>