<form #signupForm="ngForm" ngNativeValidate (ngSubmit)="onSubmit(signupForm)">

    <div class="row">
      <div class="panel panel-default col-md-12">
        <div class="panel-header">
          <h1>Beneficiarios</h1>
          <p>Formulario de alta</p>
        </div>
    
        <div class="panel-body">
  
            <div *ngIf="submited"  class="alert alert-success"> 
                <p>Datos cargados correctamente.</p>
            </div>
                
            <div class="form-row">
              
              <div class="form-group col-md-6 col-12">
                <input type="text" class="form-control"  name="apellido" ngModel required placeholder="Apellido">
              </div>   
              <div class="form-group col-md-6 col-12">
                <input type="text" class="form-control"  name="nombre" ngModel required placeholder="Nombre">
              </div>
    
            </div>
    
    


    
            <div class="form-row">
              
              <div class="form-group col-md-6 col-12">
                <input type="text" class="form-control" (focusout)="buscarDireccion($event)"  name="direccion" ngModel required placeholder="Direccíon (Calle y número)">
              </div>

              <div class="form-group col-md-6 col-12">
                <select class="form-control" name="ciudad" (focusout)="buscarDireccion($event)" ngModel required >
                  <option value="" selected="selected">Ciudad</option>
                  <option value="Tandil">Tandil</option>
                  <option value="Olavarría">Olavarría</option>
                  <option value="Azul">Azul</option>
                </select>
              </div>
            
    
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 col-12">
                <input type="number" class="form-control" name="celular" ngModel required placeholder="Celular (Codigo y número. Sin espacios ni otros caracteres)">    
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12 col-12">
                <textarea class="form-control" rows="4" name="observaciones" ngModel required placeholder="Observaciones"></textarea>
              </div>
            </div>

             
    
    
          <label for="">Seleccionar dirección donde vive en el mapa</label>
          <div class="map-container">
            <div class="map-frame">
              <div id="map"></div>   
            </div>
          </div>
          
          <br><br>
          
          <!--<distancias-mayores *ngIf="marker"  (voluntario)="onSelectVoluntario($event)" [latitude]=latitude [longitude]=longitude ></distancias-mayores>-->


         </div>
         <div class="panel-footer text-right">
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
      
        </div>
    </div> 
    </form>  